{% extends "core/admin/partials/admin_layout.html" %}
{% block title %} Medical Organizations | ZenWellness {% endblock title %}

{% block content %}
<!-- Content Header -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Medical Organizations</li>
        </ol>
        </div>
    </div>
    <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">List of Medical Organizations- (Hospitals, Clinics)</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 200px;">
                    <a href="{% url 'healthcare:organization_add' %}">
                        <button class="btn btn-primary btn-sm">
                        <i class="fas fa-plus"></i> Add New Organization</button>
                    </a>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Image</th>
                      <th>Location</th>
                      <th>Remark</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for organization in organizations %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ organization.name }}</td>
                        <td>
                            {% if organization.image %}
                                <img src="{{ organization.image.url }}" width="120px">
                            {% endif %}
                        </td>
                        <td>
                            {{ organization.location }}
                        </td>
                        <td>
                            {{ organization.remark }}
                        </td>
                        <td>
                          <a href="{% url 'healthcare:organization_update' organization.slug %}">
                              <button class="btn btn-warning btn-sm">
                              <i class="fas fa-edit"></i> Edit</button>
                          </a>
                          <a class="delete_btn" href="{% url 'healthcare:organization_delete' organization.slug %}">
                              <button class="btn btn-danger btn-sm">
                              <i class="fas fa-trash"></i> Delete</button>
                          </a>
                        </td>
                      </tr>                      
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


</section>
<!-- /.content -->
{% endblock content %}

{% block scripts %}
  <script>
    $('.delete_btn').on('click', function(e){
      e.preventDefault();
      let url = $(this).attr('href');
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          window.location.href = url;
        }else{
          Swal.fire(
            'Cancelled!',
            'Deletion Process Stopped.',
            'error'
          )          
        }
      });
    })
  </script>
{% endblock scripts %}