{% extends "core/admin/partials/admin_layout.html" %}
{% load core_extras %}
{% block title %} Agent Change Password | ZenWellness {% endblock title %}
{% block styles %}
  <style>
    .upload_image{
        width: 120px;
        height: 120px;
    }
    .errorlist{
        list-style-type: none;
        color: red;
    }
  </style>
{% endblock styles %}
{% block content %}
<!-- Content Header -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'core:agent_list' %}">Agents</a></li>
            <li class="breadcrumb-item active">Change Password</li>
        </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Change Password</h3>
              </div>

              <form role="form" action="{% url 'core:agent_password_change' agent.pk %}" method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Password</label>
                    {{ form.password | add_class:"form-control" }}
                    {{ form.password.errors }}
                  </div>
                  <div class="form-group">
                    <label>Password Confirmation</label>
                    {{ form.password_confirmation | add_class:"form-control" }}
                    {{ form.password_confirmation.errors }}
                  </div>
                </div>

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
        </div>
    </div>

    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


</section>
<!-- /.content -->
{% endblock content %}